version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: benzin-api
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    command: ["python", "-m", "src.main"]
